---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Create an exercise">
    <main class="pb-16 p-4 flex flex-col items-center min-h-dvh justify-around">
        <h1 class="text-5xl text-center mt-8 mb-24 uppercase">create exercise</h1>
        <h2>Name</h2>
        <h2>Weight</h2>
        <h2>Time</h2>
        <Button text="Create" />
    </main>
</Layout>