---
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Create an exercise">
    <main class="pb-16 p-4 min-h-dvh flex flex-col justify-start">
        <h1 class="text-5xl text-center mt-8 mb-24 uppercase">create exercise</h1>
        <form class="flex flex-col items-center justify-around h-full grow">
            <Input type="text" placeholder="Name" name="name" />
            <Input type="number" placeholder="Weight" name="weight" />
            <Input type="number" placeholder="Time" name="time" />

            <Button text="Create" type="submit" />
		</form>
    </main>
</Layout>

<script>
	import { putToDB } from "../utils/db_interactions";
	import { formHandler } from "../utils/common";
	import type { Exercise } from "../types";
	const form = document.querySelector('form')
	if(form)
	form.onsubmit = (e)=>{
		e.preventDefault()
		formHandler<Exercise>(form, (obj:Exercise)=>{
			putToDB(obj, 'exercise')
		})
	}
</script>