---
interface Props {
	title: string;
	subtitle: string;
	index?:number;
}

const { title, subtitle, index } = Astro.props;
const bgColor = `hsl(229,33%,${index ? (index * 8 + 38) : 58}%)`
---

<li class={`bg-[${bgColor}] rounded-tr-xl text-center p-4`}>
	<h5 class="text-xs font-light">
		{subtitle}
	</h5>
		<h2 class="text-3xl">
			{title}
		</h2>
</li>
<style>

</style>
