<nav class="fixed w-full left-0 bottom-0">
  <ul class="w-full flex text-2xl text-white border-t-2">
    <li class="border-x-2 w-full text-center"><a class="w-full block hover:bg-gray-800 active:bg-gray-200" href="/exercise">exercise</a></li>
    <li class="border-x-2 w-full text-center"><a class="w-full block hover:bg-gray-800 active:bg-gray-200" href="/routine">routine</a></li>
    <li class="border-x-2 w-full text-center"><a class="w-full block hover:bg-gray-800 active:bg-gray-200" href="/">home</a></li>
    <li class="border-x-2 w-full text-center"><a class="w-full block hover:bg-gray-800 active:bg-gray-200" href="/program">program</a></li>
    <li class="border-x-2 w-full text-center"><a class="w-full block hover:bg-gray-800 active:bg-gray-200" href="/quickly">quickly</a></li>
  </ul>
</nav>
<style>
  a:active{
    box-shadow: inset 0px 5px 5px 0px #000;
  }
</style>